/* the 100vh and 100vw set the size of the body to fill the viewport (screen) */
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0;
}
.left_row {
  height: 100%;
  width: 35%;
  display: block;
}
.right_row {
  height: 100%;
  width: 35%;
  display: block;
}

.middle_row {
  height: 100%;
  width: 50%;
  display: block;
}
.logo {
  height: 70%;
  width: 100%;
}
.text {
  height: 30%;
  width: 100%;
}
.example {
  height: calc(100% / 3);
  width: 100%;
}

/* this will make ALL <img> elements at most 100% of their PARENT! */
img {
  max-height: 100%;
  max-width: 100%;
}
/* this class goes on the PARENT div of the image! */
.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
}

p {
  font-size: 32pt;
  font-family: "Chewy";
  text-align: center;
  margin: 15px;
}
.clickable1 {
  filter: brightness(85%) drop-shadow(2px 5px 3px);
}

.clickable1:hover {
  cursor: pointer;
  filter: brightness(100%) drop-shadow(2px 4px 3px);
  transform: scale(1.04);
}
/* changes to the style when the user CLICKS */
.clickable1:active {
  filter: drop-shadow(0px 0px 9px);
  transform: scale(0.98);
}

/* colors to see divs */
.purple {
  background-color: #523d64;
}
.green {
  background-color: #85e21f;
}
.orange {
  background-color: #da6339;
}
.gold {
  background-color: #d3a047;
}
.yellow {
  background-color: #031e45;
}
.black {
  background-color: #000000;
}
.slate {
  background-color: #1e171f;
}
.dark-grey {
  background-color: #3a3b3c;
}
.light-grey {
  background-color: #d3d3d3;
}

.red {
  background-color: #771739;
}

.blue {
  background-color: #002077;
}

/* enhance the UX */
/*
img:hover {
  cursor: pointer;
}
img:active {
  transform: scale(0.95);
}
*/

@media only screen and (max-width: 570px) {
  body {
    display: block;
  }
  .left_row {
    height: 20%;
    width: 100%;
    display: flex;
  }
  .right_row {
    height: 20%;
    width: 100%;
    display: flex;
  }
  .middle_row {
    height: 60%;
    width: 100%;
    display: block;
  }
  .example {
    height: 100%;
    width: 100%;
  }
}
